/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');

/* Colors */
$main-color: #fff;
$secondary-color: #2b3456;

/* Fonts Style */
$font-style-principal: 'Nunito', sans-serif;
$font-style-secundary:  'Mukta', sans-serif;

/* font Size */
$font-large: 5.2em;
$font-medium: 2.2em;
$font-small: 1.6em;
$font-xsmall: 1.4em;

/* Spacing */
$space-large: 6rem;
$space-medium: 2.4rem;
$space-small: 2rem;
$space-xsmall: 1rem;
